# Core numerical & data libraries
numpy==1.26.4
pandas==2.2.3
scipy==1.15.2
polars==1.28.1

# Machine-learning & forecasting
scikit-learn==1.6.1
catboost==1.2.8
lightgbm==4.6.0
mlforecast==1.0.2
statsforecast==2.0.1
coreforecast==0.0.16
datasetsforecast==1.0.0
utilsforecast==0.2.12
neuralforecast== 3.0.1
wandb==0.19.11
category_encoders==2.8.1

# Timecopilot for time series foundation models
timecopilot==0.0.20

# Date/time helpers
python-dateutil==2.8.2
pytz==2025.2

# Plotting
seaborn==0.13.2

# DemandBench from GitHub branch
git+https://github.com/a11to1n3/DemandBench.git
git+https://github.com/a11to1n3/DemandBench-Favorita-Dataset.git
git+https://github.com/a11to1n3/DemandBench-M5-Dataset.git
